<% if @restaurant.errors.any? %>
  <h2>We have some errors here !</h2>
  <ul>
    <% @restaurant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for  [:admin, @article] do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>

  <%= f.label :image, "Photo" %>
  <%= image_tag @article.image, width: '300px' if @article.image? %>
  <%= f.file_field :image %>

  <%= f.submit %>
<% end %>