<div class="container">
  <div class="row">

    <% if @article.errors.any? %>
      <h4>We have some errors here !</h4>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <hr>
    <% end %>

    <%= form_for @article do |f| %>

      <div class="form-group">
        <%= f.label :title, "Name" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description, "Description" %>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :image, "Photo" %>
        <%= image_tag @article.image, width: '300px' if @article.image? %>
        <%= f.file_field :image %>
      </div>

      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>