<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr class="no-line">
          <th class="text-center" scope="col">User</th>
          <th class="text-center" scope="col">Post</th>
          <th class="text-center" scope="col">Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center"><div class="button-counts"><%= @user_count%></div></td>
          <td class="text-center"><div class="button-counts"><%= @article_count%></div></td>
          <td class="text-center"><div class="button-counts"><%= @comment_count%></div></td>
        </tr>
      </tbody>
    </table>
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Most Popular Post</div>
          <div class="panel-body">
            <table class="table">
              <% x = 0%>
              <% @populararticles.each do |article|%>
                <tbody>
                  <tr class="no-line">
                    <td></td>
                    <td></td>
                    <td class="bold" scope="row">#<%= x +=1%></td>
                    <td><%= link_to article.title, article_path(article.id) %></td>
                    <td> <%= article.updated_at.strftime("%F")%></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              <%end%>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Chatterbox</div>
          <div class="panel-body">
            <table class="table">
              <% x = 0%>
              <% @activeusers.each do |activeuser|%>
                <tbody>
                  <tr class="no-line">
                    <td></td>
                    <td></td>
                    <td class="bold" scope="row">#<%= x +=1%></td>
                    <td><%= link_to activeuser.name, user_path(activeuser.id)%></td>
                    <td><%= activeuser.comment_counts%></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              <%end%>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>