<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @article.title %></h1>
      <%= image_tag @article.image.url, class: "img-responsive center-block" %>
      <p><strong>author:<%= link_to @article.user.name, user_path(@article.user.id) %></strong></p>
      <%= simple_format @article.description %>
      <% if @article.is_favorited?(current_user) %>
        <%= link_to 'Uncollect', unfavorite_article_path(@article), method: :post, class: "btn btn-info" %>
      <% else %>
        <%= link_to 'Collect', favorite_article_path(@article), method: :post, class: "btn btn-primary" %>
      <% end %>
      <% if current_user.admin? || @article.user == current_user %>
        <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-primary" %>
      <% end %>
      <% if @article.user == current_user %>
        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="clearfix"></div>
      <div class="container">
        <div class="row">
          <% @comments.each do |comment| %>
            <hr>
            <div>
              <h4><%= link_to comment.user.name, user_path(comment.user.id) %></h4>
              <% if comment.user != current_user %>
                <% if current_user.friend?(comment.user)%>
                  <p>已經是朋友</p>
                <% elsif current_user.not_yet_accepted_friends?(comment.user)%>
                  <p>送出交友邀請</p>
                <% elsif current_user.not_yet_responded_friends?(comment.user)%>
                  <p>尚未確認交友邀請</p>
                <%else%>
                  <%= link_to "Add Friend", friendships_path(friend_id: comment.user.id), class: "btn btn-outline-secondary", method: :post%>
                <%end%>
              <%end%>
              <p><%= simple_format comment.content %></p>
              <p class="text-muted">
                <em><%= comment.created_at %> </em>
              </p>
              <% if current_user.comments %>
                <%= link_to 'Edit', edit_article_comment_path(article_id: @article.id, comment_id: comment.id),  class: "fas fa-trash-alt btn btn-primary bold float-right margin-10" %>
                <%= link_to "Delete", article_comment_path(article_id: @article.id, comment_id: comment.id), class: "fas fa-trash-alt btn btn-primary bold float-right margin-10", method: :delete, data: { confirm: "Are You Sure？" }%>
              <% end %>
            </div>
            <hr>
          <% end %>
        <%= form_for [@article, @comment] do |f| %>
          <div class="form-group">
            <%= f.text_area :content, placeholder: "留個言吧", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit class: "btn btn-primary" %>
            <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
          </div>
        <% end %>
        </div>
      </div>
    <hr>
    <%= link_to 'Back to index', root_path %>
  </div>
</div>



