<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <!-- page-header 裡面顯示個人檔案資料 -->
      <div class="page-header">

        <div class="col-md-3 col-sm-4">
          <div class="text-center">
            <%= image_tag @user.avatar.url, class: "img-responsive img-rounded" %>
          </div>
        </div>

        <div class="col-md-9 col-sm-8">
          <h2><%= @user.name %></h2>
          <p><strong><%= @user.email %></strong></p>
          <div><%= simple_format @user.intro %></div>
          <% if @user.email == current_user.email %>
            <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="clearfix"></div>

      </div>

      <br>
      <ul class="nav nav-tabs">
        <li role="presentation">
          <%= link_to 'My Post', posts_user_path %>
        </li>
        <li role="presentation" class="active">
          <%= link_to 'My Comment', comments_user_path %>
        </li>
        <li role="presentation">
          <%= link_to 'My Collect', collects_user_path %>
        </li>
        <li role="presentation">
          <%= link_to 'My Draft', drafts_user_path %>
        </li>
        <li role="presentation">
          <%= link_to 'My Friends', friends_user_path %>
        </li>
      </ul>
      <div>
        <!-- 顯示已評論餐廳的清單 -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong><%= @comments.count %></strong> 已評論</h3>
          </div>
          <div class="panel-body">
            <% @comments.each do |comment| %>
              <%= link_to article_path(comment.article) do %>
                <div class="my-restaurant">
                  <h5><%= comment.article.title %></h5>
                </div>
              <% end %>
              <div>
                <%= comment.content %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>